# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
*.iml
.gradle
.gradle/
/.gradle/
.idea/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.gitignore
